




.profile-section {
   height: 100vh;
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.container-profile {

    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-top:50px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.sign-out {
    background-color: #40A578;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.sign-out:hover {
    background-color: #40A578;
}

.profile-details {
    text-align: left;
    margin-top: 2rem;
}

.profile-details h2 {
    color: #40A578;
    margin-bottom: 0.5rem;
}
