.about-section {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.container-about {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
.container-about h2{
    color:#40A578;
}

.team {
    display: flex;
    background-color: #000;
    color: white;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin: 0 auto;
    width: 100%;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}